#content .title_area h2::before{
    content: 'MEDIA'; 
    position: absolute; 
    display: block; 
    width: 1200px; 
    text-align: center; 
    font-size: 2.4rem; 
    font-family: Montserrat; 
    font-size: 1.3rem;
    font-weight: 300;
    top: 90px; 
    color: #5FE3F5;
}
