#content .title_area h2::before{
    content: 'PRESCRIPTIONDRUGS'; 
    position: absolute; 
    display: block; 
    width: 1200px; 
    text-align: center; 
    font-size: 2.4rem; 
    font-family: Montserrat; 
    font-size: 1.3rem;
    font-weight: 300;
    top: 90px; 
    color: #5FE3F5;
}

/* 전문의약품 실제 본문 내용 */

#content .content_area ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

#content .content_area .text_area{
    width: 2000px;
    height: 300px;
    overflow: hidden;
    background-image: url(../images/content1/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-left: -400px;
    margin-bottom: 100px;
}
#content .content_area .text_box{
    text-align: center;
    margin-top: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    width: 700px; height: 200px;
    border-radius: 50px;
    /* border: 1px solid rgba(255, 255, 255, .3); */
    box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#content .content_area .text_box h3{
    margin: 20px 0;
    font-size: 1.89rem;
}
#content .content_area .text_box h3::after{
    width: 50px; height: 1px;
    color: #fff;
}
#content .content_area .text_box p{
    font-weight: 300;
}
#content .content_area ul li{
    border: 1px solid #eee;
    width: 380px; height: 420px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    perspective: 700px;
}
#content .content_area ul li a{
    width: 100%; height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: all .3s ease-out;
    position: absolute;
}
#content .content_area ul li:hover a{
    opacity: 1;
}
#content .content_area ul li a span{
    color: #fff;
    font-size: 5em;
    margin-top: 160px;
}
#content .content_area .pop_menu img{
    position: absolute;
    padding: 100px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .2s ease-out;
    z-index: 0;
}
#content .content_area .pop_menu img:hover{
    transform: scale(1.1) translateX(-45%) translateY(-45%);
}
#content .content_area li p{
    width: 100%;
    padding: 50px 0;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
#content .content_area a img:hover p{
    font-size: 1.5rem;
}

#content .content_area .product h3{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 30px;
}
#content .content_area .product .search_box{
    margin: 0 0 50px 200px;
}
#content .content_area .product .search_box label{
    font-size: 1.2rem; font-weight: 400;
    margin-right: 20px;
}
#content .content_area .product .search_box input{
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
#content .content_area .product .search_box button{
    font-family: 'noto sans kr';
    font-size: 1.1rem;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #0056b8;
    color: #fff;
}
#content .content_area .product .search_box .btn_all{
    background-color: #ddd;
    color: #333;
}


/* 팝업창 css*/
.hidden{display: block; position: absolute;
    width: 1px;height: 1px; overflow: hidden; color: #fff;
    left: -1000%; top:0}
 
 .modal_box{position: fixed; left: 0; top: 0; z-index: 110; width: 100%; height: 100%; 
      background:rgba(0,0,0,.7); display: none;}
 .modal_box .popup{width: 660px; height:auto; position: fixed; text-align: center;
       left:50%; top:50%; transform: translate(-50%, -50%); background: #fff;}
 .modal_box .popup img{margin:30px 30px 0;}   
 .modal_box .popup strong{display: block; text-align: center; font-size: 1.1rem; margin-bottom: 15px;}  
 .modal_box .popup p{font-size: .9rem; margin:15px 30px; line-height: 1.5rem; text-align: justify;} 
 .modal_box .popup .close_btn{margin-bottom: 30px;}
 
 .pop .pop_btn{position:absolute;z-index: 60; top:50%; margin-top: -100px; font-size: 100px; width: 100%; display: none;}
 .pop .pop_btn a{display: block; position: absolute; top:0; left:50%; color: #fff; opacity: .4; transition: all .5s;}
 .pop .pop_btn a:hover{opacity: .9;}
 .pop .pop_btn .pre{margin-left: -500px;}
 .pop .pop_btn .next{margin-left: 430px;}
 
 .pop  .popup{position: fixed; top: 50%; left: 50%; margin: -300px 0 0 -300px; 
      width: 600px; height: 600px; background: #fff; box-shadow: 1px 3px 7px 0px #666;
      z-index: 60; display:none;}
 .pop  .popup img{width: 94%; margin:20px 3%;}
 .pop  .popup dl{width: 94%; margin:10px 3%; text-align: center;}
 .pop  .popup dt{font-size: 1.2em; font-weight: bold; margin-bottom: 10px; color: #0056b8;}
 .pop  .popup span{font-size:1.1em ; position: absolute;
         right: 20px; bottom: 20px; color: red;}
 
 .pop  .popup .close_btn{position: absolute; top: 25px; right: 5px; 
      display: block; text-indent: -999px; overflow: hidden; width: 32px; 
      height: 32px; padding: 9px 9px; background: url(../images/content1/close.svg) no-repeat;}